body
{
    font-family: Verdana, sans-serif;
    background-color: rgba(255,255,255,0.6);
}

a:link, a:visited, a:hover, a:active
{
    color: #0070C0;
    text-decoration: none;
    font-size: 18px;
}

p
{
    font-size: 20px;
}

table
{
    border-collapse: collapse;
	width: 100%;
    font-size: 14px;
}

th
{
    background-color: rgba(245,245,245,0.8);
    border-top: 2px solid #0070C0;
    border-bottom: 2px solid #0070C0;
	text-align: center;
	font-weight: bold;
}

td
{
    text-align: right;
}

tr:nth-child(odd)
{
	background-color: rgba(223,239,255,0.8);
    border-bottom: 1px solid #0070C0;
}

tr:nth-child(even)
{
	background-color: rgba(255,255,255,0.8);
    border-bottom: 1px solid #0070C0;
}

tr.total
{
    background-color: rgba(245,245,245,0.8);
    border-bottom: 1px solid #0070C0;
    font-weight: bold;
}

.highcharts-tooltip div
{
    font-size: 16px;
    padding: 10px;
    border: 1px solid rgba(220,220,220,1);
    position: relative;
    background-color: rgba(255,255,255,0.8);
    z-index: 9999;
    margin: -6px;
}